# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# Temporary files
temp/
assets/
audio/

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# API Keys and Secrets
*.pem
*.key
